
header{
	height: 500px;
	background-color: #f9a91a;
	color: white;
	position: relative;
}

a{
	margin:10px;
	position: absolute;
	color: white;
	text-decoration:none;
	top: 40px;

}

a:hover{
	color: #DF7401; 
}

.inicio{
	right: 350px;
}

.portafolio{
	right: 200px;
}

.contacto{
	right: 70px;
}

.boton-sumate{
	background-color: #DF7401;
	color: white;
	position: absolute;
	top: 50px;
	left: 80px;
	width: 100px;
	height: 40px;
	border: none;
}

.boton-sumate:hover{
	background-color: #F7D358;
	color: black;
}

.texto-header{
	top:220px;
	position:relative;
}

.texto-h5{
	top:210px;
	position:relative;
}


.contenedor{
          width: 80%;
          height: 400px;
          background :#fd9100;
          display:inline block;
          margin:40px 120px;
          z-index: 1;
}
.ejemplos{
          width: 35%;
          height:350px;
          margin:30px;
          border:5px solid #951132;
          display:inline-block;
          z-index: 10;
          position:relative;
          left:90px;
}
 

.imagenEjemplo{
  width: 200px;
  height:200px;
  position:relative;
  left:120px;
}

footer{ 
	position: relative;
	left: 5px;
	top: 30px;
	height: 50px;
	padding: 2px;
	color:white; 
	background-color: black;
}

#textoFooter{
	text-align: left;
	color: white;
}


